<main>

    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center"
            data-background="{{pages.aboutHeader.bgImage}}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{pages.aboutHeader.title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Support Company Start-->
    <div class="support-company-area servic-padding fix mb-5 pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="support-location-img mb-50">
                        <img src="{{pages.aboutContent.imageUrl}}" alt="">
                        <div class="support-img-cap">
                            <span>{{pages.aboutContent.imageTitle}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2">
                            <span>{{pages.aboutContent.subTitle}}</span>
                            <h3>{{pages.aboutContent.title}}</h3>
                        </div>
                        <div class="support-caption">
                            <p>{{pages.aboutContent.textLeft}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <p>{{pages.aboutContent.textBottom}}</p>
            </div>
        </div>
    </div>
    <!-- Support Company End-->

    <!-- Our Services Start -->
    <!-- <div class="our-services place-padding">
            <div class="container">
                <div class="row d-flex justify-contnet-center">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tour"></span>
                            </div>
                            <div class="services-cap">
                                <h5>8000+ Our Local<br>Guides</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-pay"></span>
                            </div>
                            <div class="services-cap">
                                <h5>100% Trusted Tour<br>Agency</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-experience"></span>
                            </div>
                            <div class="services-cap">
                                <h5>28+ Years of Travel<br>Experience</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-good"></span>
                            </div>
                            <div class="services-cap">
                                <h5>98% Our Travelers<br>are Happy</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- Our Services End -->
</main>